*{
    padding: 0px;
    margin: 0px}

body{
    background-color: rgb(53, 49, 49);
}

.game{
    text-align: center;
    margin-top: 40px;
    
}

.game-container{
    display: inline-block;
    text-align: center;
    width: 216px;
    height: 216px;
}

.board{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr;
    background-color: rgb(32, 32, 32);
    width: 216px;
    height: 216px;
    font-size: 30px;
    
}

.tile{
    
    width: 70px;
    height: 70px;
    border: 1px solid rgb(145, 142, 142);
    font-family: sans-serif;
    color: white;
    line-height: 70px;
}



.tile:hover{
    background-color: rgb(48, 47, 47);
}



.display-buttons{
    display: inline-flex;
    align-items: center;
    background-color: gold;
    width: 216px;
    height: 40px;
    
}


.start, .reset{
    flex: 1;
    text-align: center;
}

.start-button, .reset-button{
    background-color: rgb(48, 47, 47);
    color: white;
    border: solid 1px white;
    padding: 5px;
}

.score-display{
    background-color: gold;
    width: 216px;
    height: 40px;
    
    }

.score-1, .score-2{
    text-align: center;
}


